<form name="loginForm" class="login">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" 
          class="form-control" 
          placeholder="Email" 
          ng-model="user.email"
          required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" 
           class="form-control" 
           placeholder="password" 
           ng-model="user.password"
           ng-minlength="8"
           required>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="login()">Login</button>
    <button class="btn btn-default" ui-sref="'public.register'">Register</button>
    <button class="btn btn-link" ui-sref="'public.forgot'">Forgot password?</button>
  </div>
</form>