<div class="modal fade " ng-class="{'in': messageService.message}" ng-click="close()">
  <div class="modal-dialog" ng-class="{{messageService.status}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{messageService.status}}</h4>
      </div>
      <div class="modal-body">
        <div class="alert" ng-class="{'alert-danger': messageService.status === 'error'}" role="alert">
          {{messageService.message}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">{{closeText}}</button>
      </div>
    </div>
  </div>
</div>